<body>
<div class="body-container">

<div class="container-card">
   <h2 mat-display-2>Home Salon</h2>
   <div class="scrolling-wrapper">
    <div class="card"><figure ><a href="#"><img  src="../../assets/images/Home_salons/facial.png" alt="alternate text"/></a><figcaption>facial</figcaption>  </figure>    </div>
    <div class="card"><figure><a href="#"><img  src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/></a><figcaption>Manicure</figcaption>  </figure>    </div>
    <div class="card"><figure><a href="#"><img  src="../../assets/images/Home_salons/paddicure.jpg" alt="alternate text"/></a><figcaption>paddicure</figcaption>  </figure> </div>
    <div class="card"><figure><a href="#"><img  src="../../assets/images/Home_salons/waxing.png" alt="alternate text"/></a><figcaption>waxing</figcaption>  </figure>    </div>
    <div class="card"><figure><a href="#"><img  src="../../assets/images/Home_salons/waxing.png" alt="alternate text"/></a><figcaption>waxing</figcaption>  </figure>    </div>
  </div> 
</div> 

<div class="container-card">
    <h2 mat-display-2>Wedding Services</h2>
    <div class="scrolling-wrapper">
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/bridal_makeup.png" alt="alternate text"/></a><figcaption>Bridal makeup</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/event_management.jpg" alt="alternate text"/></a><figcaption>Event Management</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/catering.png" alt="alternate text"/></a><figcaption>Catering</figcaption>  </figure> </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/bridal_mehndi.jpg" alt="alternate text"/></a><figcaption>Bridal Mehndi</figcaption>  </figure>   </div> 
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/photography.jpg" alt="alternate text"/></a><figcaption>Photography</figcaption>  </figure></div>
    </div> 
</div>
<div class="card3">
    <div>
        <a href="#"><img  src="../../assets/images/ayurvedic_hairCar.jpg" alt="alternate text"/></a>  
        <p>Top 5 ways To make your hair Strong and Silky</p>          
    </div>
    <div>
        <a href="#"><img  src="../../assets/images/weddingFingerTip.png" alt="alternate text"/></a>
        <p>All your wedding needs at your fingertips</p>            
    </div>
</div>

<div class="container-card">
    <h2 mat-display-2>Lifestyle Services</h2>
    <div class="scrolling-wrapper">
     <div class="card"><figure ><a href="#"><img  src="../../assets/images/lifestyle_services/interior_design.jpg" alt="alternate text"/></a><figcaption>Interior Design</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/lifestyle_services/carpenter.jpg" alt="alternate text"/></a><figcaption>Carpenter</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/lifestyle_services/packersandmovers.jpg" alt="alternate text"/></a><figcaption>Packers/Movers</figcaption>  </figure> </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/lifestyle_services/paint.jpg" alt="alternate text"/></a><figcaption>Painting</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/lifestyle_services/laundry.jpg" alt="alternate text"/></a><figcaption>Laundry</figcaption>  </figure>    </div>
   </div> 
 </div> 

 <div class="container-card">
    <h2 mat-display-2>Bussiness Services</h2>
    <div class="scrolling-wrapper">
     <div class="card"><figure><img  src="../../assets/images/bussiness_services/corporate_events.jpg" alt="alternate text"/><figcaption>Corporate Events <br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
     <div class="card"><figure><img  src="../../assets/images/bussiness_services/digital_marketing.jpg" alt="alternate text"/><figcaption>Digital Marketing <br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
     <div class="card"><figure><img  src="../../assets/images/bussiness_services/company_registration.jpg" alt="alternate text"/><figcaption>Company Registration <br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure> </div>
     <div class="card"><figure><img  src="../../assets/images/bussiness_services/webandappdevelopment.jpg" alt="alternate text"/><figcaption>Web And App Development <br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
     <div class="card"><figure><img  src="../../assets/images/bussiness_services/finance_management.jpg" alt="alternate text"/><figcaption>Finance Management <br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
     <div class="card"><figure><img  src="../../assets/images/bussiness_services/legal_advisory.jpg" alt="alternate text"/><figcaption>Legal Advisory <br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
   </div> 
 </div>

 <div class="container-card">
<div class="card6">
    <a href="#"><img src="../../assets/images/introducing_essentials.jpg"></a>
</div>     
 </div>

 <div class="container-card">
    <h2 mat-display-2>Education Services</h2>
     <div class="card"><figure ><a href="#"><img  src="../../assets/images/Education_services/student_project.jpg" alt="alternate text"/></a><figcaption>Student Project<br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Education_services/educational_workshops.jpg" alt="alternate text"/></a><figcaption>Educational Workshops<br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Education_services/driving_school.jpg" alt="alternate text"/></a><figcaption>Driving School<br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure> </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Education_services/home_tutor.jpg" alt="alternate text"/></a><figcaption>Home Tutor<br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>     
 </div> 

 <div class="container-card">
    <h2 mat-display-2>Technical Services</h2>
    <div class="scrolling-wrapper">
     <div class="card"><figure ><a href="#"><img  src="../../assets/images/Technical_Services/interior_deisgn.png" alt="alternate text"/></a><figcaption>Interior Design</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Technical_Services/plumberr.jpg" alt="alternate text"/></a><figcaption>Plumberr</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Technical_Services/electrician.jpg" alt="alternate text"/></a><figcaption>Electrician</figcaption>  </figure> </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Technical_Services/refrigerator.jpg" alt="alternate text"/></a><figcaption>Refrigerator</figcaption>  </figure>    </div>     
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Technical_Services/laptop_repairing.jpg" alt="alternate text"/></a><figcaption>Laptop Repairing</figcaption>  </figure>    </div>     
 </div> 
</div>

 <div class="container-card">
    <div class="card9">
        <a href="#"><img src="../../assets/images/freedom_initiative.jpg"></a>
    </div>     
     </div>

     <div class="container-card">
        <h2 mat-display-2>Fitness and Healthcare</h2>
        <div class="card"><figure ><a href="#"><img  src="../../assets/images/fitness_healthcare/yoga.jpg" alt="alternate text"/></a><figcaption>Yoga<br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
        <div class="card"><figure><a href="#"><img  src="../../assets/images/fitness_healthcare/diet.jpg" alt="alternate text"/></a><figcaption>Dietician<br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>
        <div class="card"><figure><a href="#"><img  src="../../assets/images/fitness_healthcare/mental_health.jpg" alt="alternate text"/></a><figcaption>Mental Health<br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure> </div>
        <div class="card"><figure><a href="#"><img  src="../../assets/images/fitness_healthcare/physiotherapist.jpg" alt="alternate text"/></a><figcaption>Physiotherapist<br><button color="warn" mat-raised-button>Consult for Free</button></figcaption>  </figure>    </div>     
       </div>

       <div class="container-card">
        <h2 mat-display-2>Printing Services</h2>
        <div class="scrolling-wrapper">
         <div class="card"><figure><a href="#"><img  src="../../assets/images/printing_services/tshirt_printing.jpg" alt="alternate text"/></a><figcaption>T-shirt Printing</figcaption>  </figure>    </div>
         <div class="card"><figure><a href="#"><img  src="../../assets/images/printing_services/mug_printing.jpg" alt="alternate text"/></a><figcaption>Mug Printing</figcaption>  </figure>    </div>
         <div class="card"><figure><a href="#"><img  src="../../assets/images/printing_services/braucher_printing.jpg" alt="alternate text"/></a><figcaption>Braucher Printing</figcaption>  </figure> </div>
         <div class="card"><figure><a href="#"><img  src="../../assets/images/printing_services/flex_printing.jpg" alt="alternate text"/></a><figcaption>Flex Printing</figcaption>  </figure>   </div> 
         <div class="card"><figure><a href="#"><img  src="../../assets/images/printing_services/giftitem_printing.jpg" alt="alternate text"/></a><figcaption>Giftitem Printing</figcaption>  </figure></div>
        </div> 
    </div>

    <div class="container-card">
        <h2 mat-display-2>Blogs</h2>
        <div class="scrolling-wrapper">
         <div class="card card12"><a hef="#"><img  src="../../assets/images/Blogs/digital_marketing.jpg" alt="alternate text"/></a><p>Digital Marketing</p>     </div>
         <div class="card card12"><a hef="#"><img  src="../../assets/images/Blogs/personal_care.png" alt="alternate text"/></a><div><p>Personal Care</p> </div></div>
         <div class="card card12"><a hef="#"><img  src="../../assets/images/Blogs/wedding.png" alt="alternate text"/></a><div><p>Wedding</p></div> </div>
         <div class="card card12"><a href="#"><img  src="../../assets/images/Blogs/makeUp.png" alt="alternate text"/></a><div><p>Make up</p></div></div> 
         <div class="card card12"><a href="#"><img  src="../../assets/images/Blogs/makeUp.png" alt="alternate text"/></a><div><p>Make up</p></div></div> 
        </div>  
    </div>
    
    <div class="container-card">
        <h2 class="ex" mat-display-2>SEE WHAT OUR CUSTOMERS SAY ABOUT OUR SERVICES</h2>
        <div class="card9 cardlast">
            <img src="../../assets/images/reviews.png">
        </div>
    </div>





 

 
 












</div>
<div style="margin-bottom:1000px;"></div>
</body>