<body>

<div class="body-container">

<div class="home-salon-card">
   <h2 mat-display-2>Home Salon</h2>
   <div class="scrolling-wrapper">
    <div class="card"><figure style=""><a href="#"><img  src="../../assets/images/Home_salons/facial.png" alt="alternate text"/></a><figcaption>facial</figcaption>  </figure>    </div>
    <div class="card"><figure><a href="#"><img  src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/></a><figcaption>Manicure</figcaption>  </figure>    </div>
    <div class="card"><figure><a href="#"><img  src="../../assets/images/Home_salons/paddicure.jpg" alt="alternate text"/></a><figcaption>paddicure</figcaption>  </figure> </div>
    <div class="card"><figure><a href="#"><img  src="../../assets/images/Home_salons/waxing.png" alt="alternate text"/></a><figcaption>waxing</figcaption>  </figure>    </div>
  </div> 
</div> 

<div class="home-salon-card">
    <h2 mat-display-2>Wedding Services</h2>
    <div class="scrolling-wrapper">
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/bridal_makeup.png" alt="alternate text"/></a><figcaption>Bridal makeup</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/event_management.jpg" alt="alternate text"/></a><figcaption>Event Management</figcaption>  </figure>    </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/catering.png" alt="alternate text"/></a><figcaption>Catering</figcaption>  </figure> </div>
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/bridal_mehndi.jpg" alt="alternate text"/></a><figcaption>Bridal Mehndi</figcaption>  </figure>   </div> 
     <div class="card"><figure><a href="#"><img  src="../../assets/images/Wedding_services/photography.jpg" alt="alternate text"/></a><figcaption>Photography</figcaption>  </figure></div>
    </div> 
</div>

</div>

</body>

      <!-- <div class="MagicScroll">
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
    </div> -->