<body>

<p>body works!</p>
<!-- <div class="body-container">
        <h2 mat-display-2>Home Salon</h2>
        <div class="MagicScroll figty" data-options=" items: 4;">
           <span> <a href="#"><img  src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>Home loan</a></span>
            <a href="#"><img class="figure" src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>Home loan</a>
            <a href="#"><img class="figure" src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>Home loan</a>
            <a href="#"><img class="figure" src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>Home loan</a>
            <a href="#"><img class="figure" src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>Home loan</a>
            <a href="#"><img class="figure" src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>Home loan</a>
    </div> 
<div style="margin-top:1000px">kckk</div>
</div> -->
<div class="scrolling-wrapper">
    <div class="car"><figure><a href="#"><img  src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/></a>
        <figcaption>Manicure</figcaption>
    </figure>
    </div>

    <div class="car"><figure><a href="#"><img  src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/></a><figcaption>Manicure</figcaption>  </figure>    </div>

   
        <div class="car"><figure><a href="#"><img  src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/></a><figcaption>Manicure</figcaption>  </figure>    </div>

            <div class="car"><figure><a href="#"><img  src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/></a><figcaption>Manicure</figcaption>  </figure>    </div>

                <div class="car"><figure><a href="#"><img  src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/></a><figcaption>Manicure</figcaption>  </figure>    
     </div>
</div>  
</body>

      <!-- <div class="MagicScroll">
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
        <figure class="home-salon">
            <img src="../../assets/images/Home_salons/manicur.png" alt="alternate text"/>
            <figcaption>Home salon</figcaption>    
        </figure>
    </div> -->